body {
  margin: 0;
  padding: 0;
  background-color: #FFFFF0; /* ivory */
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(to bottom right, #EAEAFB, #B7B7FF);
  background-repeat: repeat;

}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}
